
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevelopmentInfo</title>
</head>
<body>
    <div>
        @Html.ActionLink("1 месяц", "OneMonth")
    </div>
    <div>
        @Html.ActionLink("2 месяца", "TwoMonth")
    </div>
    <div>
        @Html.ActionLink("3 месяца", "ThreeMonth")
    </div>
    <div>
        @Html.ActionLink("4 месяца", "FourMonth")
    </div>
    <div>
        @Html.ActionLink("5 месяцев", "FiveMonth")
    </div>
    <div>
        @Html.ActionLink("6 месяцев", "SixMonth")
    </div>
    <div>
        @Html.ActionLink("7 месяцев", "SevenMonth")
    </div>
    <div>
        @Html.ActionLink("8 месяцев", "EightMonth")
    </div>
    <div>
        @Html.ActionLink("9 месяцев", "NineMonth")
    </div>
    <div>
        @Html.ActionLink("10 месяцев", "TenMonth")
    </div>
    <div>
        @Html.ActionLink("11 месяцев", "ElevenMonth")
    </div>
    <div>
        @Html.ActionLink("12 месяцев", "TwelveMonth")
    </div>
</body>
</html>
