@model ChildrenCalendar.Domain.Entities.Meal

<tr id=@Model.Id.ToString()>
        <td>
            @ViewBag.Row
        </td>
        <td>
            @Model.Hour : @Model.Minute
        </td>
        <td>
            @Model.TypeProduct
        </td>
        <td>
            @Model.Product
        </td>
        <td>
            @Model.Gramms
        </td>
        <td style="max-width:200px">
             @Model.Comment
        </td>
        <td>
            @using (Ajax.BeginForm("EditDB", "Meal", new AjaxOptions { UpdateTargetId = @Model.Id.ToString() }))
                {
                <div align="right">
                    @Html.HiddenFor(Model => Model.Id)
                    <input type="submit" class="btn btn-group-sm btn-success" value="@Resources.Resource.Edit" />
                </div>
            }
        </td>
        <td>
            @using (Html.BeginForm("RemoveFromDB", "Meal"))
                {
                @Html.HiddenFor(Model => Model.Id)
                <input type="submit" class="btn btn-group-sm btn-success" value="@Resources.Resource.Delete" />
            }
        </td>
    </tr>

