@model ChildrenCalendar.Domain.Entities.NatFeed

<tr id=@Model.Id.ToString()>
    <td>
        @ViewBag.Row
    </td>
    <td>
        @Model.FeedHour : @Model.FeedMinute
    </td>
    <td>
        @Model.Breast
    </td>
    <td>
        @Model.Minutes
    </td>
    <td>
        @Model.Puke
    </td>
    <td>
        @Model.Hiccup
    </td>
    <td>
        @using (Ajax.BeginForm("EditDB", "Eat", new AjaxOptions { UpdateTargetId = @Model.Id.ToString() }))
            {
            <div align="right">
                @Html.HiddenFor(Model => Model.Id)
                <input type="submit" class="btn btn-group-sm btn-success" value="Edit" />
            </div>
        }
    </td>
    <td>
        @using (Html.BeginForm("RemoveFromDB", "Eat"))
            {
            @Html.HiddenFor(Model => Model.Id)
            <input type="submit" class="btn btn-group-sm btn-success" value="Delete" />
        }
    </td>
</tr>